@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root[data-theme="light"] {
    --text: rgb(23, 30, 128);
    --background: rgb(228, 228, 248);
    --primary: rgb(99, 96, 194);
    --active: rgb(232, 231, 241);
    --accent: rgb(51, 67, 158);
}
:root[data-theme="dark"] {
    --text: rgb(193, 199, 235);
    --background: rgb(0, 0, 24);
    --primary: rgb(53, 50, 129);
    --active: rgb(190, 186, 235);
    --accent: rgb(106, 125, 235);
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    padding-left: 6rem;
    padding-right: 6rem;
}
.flex {
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
    align-items: center;
}

img,video {
    width: 100%;
    height: auto;
}

body {
    background: var(--background);
}

.App {
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.homeContainer {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: var(--text);
}

.homeContainer .mainHeader {
    margin-top: 8rem;
    font-size: 8rem;
    font-weight: 600;
}

.inputField {
    border-radius: 2rem;
    border: 2px solid var(--accent);
    padding: 1rem 2rem 1rem 2rem;
    width: 37rem;
    justify-content: space-between;
    color: var(--text);
}

.inputField .icon {
    font-size: 1.4rem;
    margin-right: .5rem;
}

.inputField input,button {
    font-size: .95rem;
    background: transparent;
    outline: 0;
    border: 0;
}

.inputField input {
    width: 100%;
    color: var(--text);
    font-weight: 500;
}

.inputField input::placeholder {
    color: var(--accent);
}

.inputField button {
    cursor: pointer;
    color: var(--text);
}

.buttonDiv {
    margin-top: 2rem;
    gap: 1rem;
}

.buttonDiv button {
    font-size: 16px;
    border-radius: .4rem;
    background: var(--primary);
    color: var(--active);
    padding: .8rem;
    cursor: pointer;
}
.searchMainContainer {
    flex-direction: column;
    width: 100%;
}
.navbarContainer {
    width: 100%;
    color: var(--accent);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px var(--accent);
}
.navbarContainer .inputField {
    padding: .7rem 1rem .7rem 1rem;
    width: 26rem;
}
.navbarContainer .logoDiv{
    font-size: 24px;
    font-weight: 700;
    color: var(--text);
}
.navbarContainer .searchContainer {
    gap: .5rem;
}
.navbarContainer .searchContainer .searchBtn {
    padding: .8rem 1rem;
    background: var(--primary);
    border-radius: .6rem;
    cursor: pointer;
    color: var(--active);
    font-weight: 500;
}

.modeContainer .modeSwitcher {
    background: transparent;
    outline: 0;
    border: 0;
    color: var(--text);
    font-size: 28px;
    cursor: pointer;
}

.mainContainer {
    width: 100%;
    color:var(--text);
}

.mainContainer a {
    color: var(--text);
}

.resultContainer {
    width: 95%;
    padding: 2.6rem;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}

.resultContainer .result {
    padding: 2rem;
}

.resultContainer .result a{
    flex-direction: column;
    color: var(--text);
}

.resultContainer .result h2 {
    font-size: 22px;
    color: var(--accent);
}

.errorField {
    margin-top: 2rem;
    color: var(--accent);
    justify-content: center;
}
.errorField img {
    object-fit: cover;
}

.footerContainer {
    width: 100%;
    box-shadow: 0px -.5px 0px 0px var(--accent);
    color: var(--text);
    justify-content: center;
}

.footerContainer .footerText {
    font-size: 14px;
    margin: 1rem;
}

@media screen and (max-width:640px) {

    .homeContainer {
        margin-top: 1rem;
        width: 100%;
        height: 100%;
        flex-direction: column;
        color: var(--text);
    }

    .homeContainer .mainHeader {
        margin-top: 8rem;
        font-size: 3.5rem;
        font-weight: 600;
    }

    .inputField {
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid var(--accent);
        padding: .7rem 1rem .7rem 1rem;
        width: 18rem;
        max-width: 90%;
        justify-content: space-between;
        color: var(--text);
    }

    .inputField input,button {
        font-size: .75rem;
        background: transparent;
        outline: 0;
        border: 0;
        color: var(--text);
    }

    .buttonDiv {
        justify-content: center;
        width: 100%;
        max-width: 90%;
        margin-top: 2rem;
        gap: 1rem;
    }
    
    .buttonDiv button {
        font-size: 14px;
        border-radius: .4rem;
        background: var(--primary);
        padding: .7rem;
        cursor: pointer;
    }

    .navbarContainer {
        width: 100%;
        justify-content: right;
        padding: 0;
        margin-top: .8rem !important;
        flex-direction: column;
        box-shadow: none;
    }

    .navbarContainer .logoDiv{
        font-size: 22px;
    }

    .navbarContainer .searchContainer {
        width: 100%;
        justify-content: center;
        padding: .1rem;
        gap: .5rem;
    }
    
    .navbarContainer .searchContainer .searchBtn {
        margin-top: .9rem;
        padding: .8rem .8rem;
        background: var(--primary);
        border-radius: .6rem;
        cursor: pointer;
    }
    
    .modeContainer .modeSwitcher {
        font-size: 28px;
    }
    
    .resultContainer {
        max-width: 100%;
        padding: .5rem;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    
    .resultContainer .result a{
        font-size: 12px;
    }
    
    .resultContainer .result h2 {
        font-size: 14px;
    }
    
    .errorField {
        flex-direction: column;
        justify-content: center;
    }

    .errorField img {
        object-fit: cover;
    }

    .footerContainer .footerText {
        font-size: 12px;
    }
}

@media screen and (max-width:1024px) {
    .homeContainer {
        margin-top: 1rem;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .navbarContainer {
        margin-top: 1.4rem;
        padding: 2rem;
    }
    .navbarContainer .inputField {
        padding: .5rem .8rem .5rem .8rem;
        width: 17rem;
        font-size: 14px;
    }
    .navbarContainer .searchContainer .searchBtn {
        font-size: 12px;
        padding: .8rem .9rem;
    }

    .modeContainer {
        position: absolute;
        top: 10px;
        right: 20px;
        gap:.6rem;
    }

    .resultContainer {
        padding-top: 0;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .resultContainer .result {
        padding-bottom: 2rem;
    }
    
    .resultContainer .result a{
        font-size: 14px;
    }
    
    .resultContainer .result h2 {
        font-size: 20px;
    }
    .errorField {
        padding: 2rem;
    }
}